:root {
  --card-width: 8.625rem;
  --card-caption-right: -5.3125rem;
  --card-caption-top: 3.875rem;
  --card-figure-height: 13.125rem;
  --card-name-spacing: var(--spacing-base-ten);
  --card-name-font-size: var(--typography-font-size-smaller);
}

.root {
  display: block;
  list-style: none;
  margin-bottom: 1rem;
  max-width: var(--card-width);
  position: relative;
}

.root:nth-of-type(even) {
  margin-top: 2rem;
}

.caption {
  font-family: var(--typography-heading-family);
  font-size: var(--typography-font-size-small);
  font-weight: var(--typography-font-weight);
  line-height: var(--typography-line-height-small);
  top: var(--card-caption-top);
  position: absolute;
  right: var(--card-caption-right);
  text-transform: uppercase;
  transform: rotate(var(--rotate-angle));
  text-align: left;
  width: 100%;
}

.figure {
  display: flex;
  height: var(--card-figure-height);
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.name {
  display: inline-block;
  font-family: var(--typography-body-family);
  font-style: var(--typography-font-style);
  font-weight: var(--typography-font-weight-bold);
  font-size: var(--card-name-font-size);
  line-height: var(--typography-line-height);
  margin: var(card-name-spacing) 0;
}

@media screen and (min-width: 768px) {
  :root {
    --card-width: 14.875rem;
    --card-figure-height: 21.5rem;
    --card-caption-top: 7rem;
    --card-caption-right: -8.5625rem;
    --card-name-spacing: calc(var(--spacing-base-ten) * 1.5);
    --card-name-font-size: var(--typography-font-size-big);
    --typography-font-size-small: 0.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    margin-top: 0;
  }

  .root:nth-of-type(3n - 1) {
    margin-top: 4rem;
  }
}
