:root {
  --color-text-dark: #000;
  --color-text-light: #fafafa;
  --color-background-light: #fafafa;
  --color-background-dark: #000;

  --typography-body-family: 'Poppins', sans-serif;
  --typography-heading-family: 'PT Serif', serif;
  --typography-font-size: 1rem;
  --typography-font-style: normal;
  --typography-font-weight: 400;
  --typography-line-height: 1.5;

  font-family: var(--typography-body-family);
  font-size: var(--typography-font-size);
  font-weight: var(--typography-font-weight);
  line-height: var(--typography-line-height);

  background-color: var(--color-background-light);
  color-scheme: light dark;
  color: var(--color-text-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-heading-family);
}
