:root {
  --color-text-dark: #000;
  --color-text-medium: #a9a9a9;
  --color-text-light: #fafafa;
  --color-background-light: #fafafa;
  --color-background-dark: #000;

  --rotate-angle: 90deg;

  --spacing-base-ten: 0.625rem;

  --typography-body-family: 'Poppins', sans-serif;
  --typography-heading-family: 'PT Serif', serif;
  --typography-font-size-big: 1.125rem;
  --typography-font-size: 1rem;
  --typography-font-size-small: 0.625rem;
  --typography-font-size-smaller: 0.875rem;
  --typography-font-style: normal;
  --typography-font-weight: 400;
  --typography-font-weight-bold: 600;
  --typography-line-height: 1.5;
  --typography-line-height-small: 1.3;

  font-family: var(--typography-body-family);
  font-size: var(--typography-font-size);
  font-weight: var(--typography-font-weight);
  line-height: var(--typography-line-height);

  background-color: var(--color-background-light);
  color-scheme: light dark;
  color: var(--color-text-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: flex-start;
}

footer {
  color: var(--color-text-medium);
  font-family: var(--typography-body-family);
  font-size: var(--typography-font-size-smaller);
  font-weight: var(--typography-font-weight);
  line-height: var(--typography-line-height-small);
  margin: 7rem 0 1.5rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-heading-family);
}

